@font-face {
    font-family: "Computer Modern Bright";
    src: url('cmunbmr.ttf');
}

.left {
  position: fixed;
  display: none;
  padding-top: 14.6vh;
}

.left > .image {
  width: 20.6vw;
  max-height: 70.8vh;
  padding-left: 14.6vw;
}

.content {
  min-height: 61.8vh;
  padding-top: 14.6vh;
  padding-left: 38.2vw;
  padding-right: 14.6vw;
  padding-bottom: 14.6vh;
}

h1 {
    font-family: "Computer Modern Bright", sans-serif;
    font-size: 5vw;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 8.1vw;
}

h2 {
    font-family: "Computer Modern Bright", sans-serif;
    font-size: 3.1vw;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 5vw;
}

h3 {
    font-family: "Computer Modern Bright", sans-serif;
    font-size: 3.1vw;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 5vw;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    hyphens: none;
}

p {
    font-family: "Computer Modern Bright", sans-serif;
    font-size: 1.9vw;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 3.1vw;
    text-align: justify;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    hyphens: none;
	color: gray;
}