@font-face {
    font-family: "Computer Modern Bright";
    src: url('cmunbmr.ttf');
}

.left {
  position: fixed;
  display: none;
  padding-top: 14.6vh;
}

.left > .image {
  width: 20.6vw;
  max-height: 70.8vh;
  padding-left: 14.6vw;
}

.content {
  min-height: 61.8vh;
  padding-top: 14.6vh;
  padding-left: 38.2vw;
  padding-right: 14.6vw;
  padding-bottom: 14.6vh;
}

h0 {
    font-family: "Computer Modern Bright", sans-serif;
    font-size: 100px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 100px;
}

h1 {
    font-family: "Computer Modern Bright", sans-serif;
    font-size: 78px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 125px;
}

h2 {
    font-family: "Computer Modern Bright", sans-serif;
    font-size: 47px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 47px;
}

p {
    font-family: "Computer Modern Bright", sans-serif;
    font-size: 29px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 47px;
    text-align: justify;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    hyphens: none;
}