html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, em, img, strong, sub, sup, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, footer, header, hgroup, 
menu, nav, output, section, time {
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

@font-face {
    font-family: "Computer Modern Bright";
    src: url('cmunbmr.ttf');
}

.left {
	position: fixed;
	display: none;
	padding-top: 14.6vh;
}

.left > .image {
	width: 20.6vw;
	max-height: 70.8vh;
	padding-left: 14.6vw;
}

.content {
	min-height: 61.8vh;
	padding-top: 14.6vh;
	padding-left: 38.2vw;
	padding-right: 14.6vw;
	padding-bottom: 14.6vh;
}

h1 {
    font-family: "Computer Modern Bright", sans-serif;
    font-size: 5vw;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 8.2vw;
}

h2 {
    font-family: "Computer Modern Bright", sans-serif;
    font-size: 3.1vw;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 4vw;
}

h3 {
    font-family: "Computer Modern Bright", sans-serif;
    font-size: 1.9vw;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 3vw;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    hyphens: none;
}

p {
    font-family: "Computer Modern Bright", sans-serif;
    font-size: 1.9vw;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 3vw;
    text-align: justify;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    hyphens: none;
	color: #606060;
}

div {
	margin: auto;
    padding: auto;
    border: auto;
}